<p id="notice"><%= notice %></p>

<h1>Tournament Players</h1>

<table>
  <thead>
    <tr>
      <th>Tournament</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournament_players.each do |tournament_player| %>
      <tr>
        <td><%= tournament_player.tournament_id %></td>
        <td><%= tournament_player.player_id %></td>
        <td><%= link_to 'Show', tournament_player %></td>
        <td><%= link_to 'Edit', edit_tournament_player_path(tournament_player) %></td>
        <td><%= link_to 'Destroy', tournament_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament Player', new_tournament_player_path %>
